{% extends 'base_admin.html' %}

{% block title %}
Cursos
{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="dashboard-header">

    <div>

        <h2>
            Cursos
        </h2>

        <p>
            Gestión completa de Cursos del sistema.
        </p>

    </div>

    <div>

        <a href="{% url 'crear_curso' %}"
            class="btn btn-primary">

            <i class="bi bi-plus-circle"></i>

            Nuevo Curso

        </a>

    </div>

</div>

<!-- TABLE CARD -->
<div class="table-card">

    <!-- TOP -->
    <div class="table-top">

        <div class="table-search">

            <i class="bi bi-search"></i>

            <input
                type="text"
                placeholder="Buscar administrador..."
            >

        </div>

    </div>

    <!-- TABLE -->
    <div class="table-responsive">

        <table class="table admin-table align-middle">

            <thead>

            <tr>

                <th>Imagen</th>
                <th>Curso</th>
                <th>Sacramento</th>
                <th>Catequistas</th>
                <th>Estado</th>
                <th>Fechas</th>
                <th>Acciones</th>

            </tr>

            </thead>

            <tbody>

            {% for curso in cursos %}

            <tr>

                <!-- IMAGE -->
                <td>

                    {% if curso.imagen %}

                        <img src="{{ curso.imagen.url }}"
                            class="table-image">

                    {% else %}

                        <img src="https://via.placeholder.com/70"
                            class="table-image">

                    {% endif %}

                </td>

                <!-- NAME -->
                <td>

                    <h6 class="mb-1">
                        {{ curso.nombre }}
                    </h6>

                    <small class="text-muted">
                        {{ curso.descripcion|truncatewords:10 }}
                    </small>

                </td>

                <!-- SACRAMENTO -->
                <td>

                    {{ curso.tipo_sacramento }}

                </td>

                <!-- CATEQUISTAS -->
                <td>

                    {% for catequista in curso.catequistas.all %}

                        <span class="table-badge active-badge">

                            {{ catequista.user.first_name }}

                        </span>

                    {% empty %}

                        <span class="text-muted">
                            Sin asignar
                        </span>

                    {% endfor %}

                </td>

                <!-- ESTADO -->
                <td>

                    {% if curso.estado == 'ACTIVO' %}

                        <span class="table-badge active-badge">
                            Activo
                        </span>

                    {% elif curso.estado == 'INACTIVO' %}

                        <span class="table-badge inactive-badge">
                            Inactivo
                        </span>

                    {% else %}

                        <span class="table-badge pending-badge">
                            Finalizado
                        </span>

                    {% endif %}

                </td>

                <!-- FECHAS -->
                <td>

                    <small>

                        Inicio:
                        {{ curso.fecha_inicio }}

                        <br>

                        Fin:
                        {{ curso.fecha_fin }}

                    </small>

                </td>

                <!-- ACTIONS -->
                <td>

                    <div class="actions">

                        <a href="{% url 'editar_curso' curso.id %}"
                        class="action-btn edit-btn">

                            <i class="bi bi-pencil-square"></i>

                        </a>

                    </div>

                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>
<!-- MODAL -->
<div class="modal fade"
     id="adminModal"
     tabindex="-1">

    <div class="modal-dialog modal-xl">

        <div class="modal-content custom-modal">

            <!-- HEADER -->
            <div class="modal-header border-0">

                <h4>
                    Nuevo Curso
                </h4>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <!-- BODY -->
            <div class="modal-body">

                <!-- SEARCH -->
                <div class="table-search mb-4">

                    <i class="bi bi-search"></i>

                    <input type="text"
                           id="searchAdmin"
                           placeholder="Buscar usuario...">

                </div>

                <!-- USERS -->
                <div class="table-responsive">

                    <table class="table admin-table align-middle">

                        <thead>

                            <tr>

                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Rol Actual</th>
                                <th>Acción</th>

                            </tr>

                        </thead>

                        <tbody id="adminTableBody">

                            {% for perfil in administradores %}

                            {% endfor %}

                            {% for perfil in perfiles %}

                            {% if perfil.rol != 'ADMIN' %}

                            <tr class="search-row">

                                <!-- USER -->
                                <td>

                                    <div class="user-info">

                                        <img src="https://ui-avatars.com/api/?name={{ perfil.user.username }}">

                                        <div>

                                            <h6>
                                                {{ perfil.user.username }}
                                            </h6>

                                            <p>
                                                ID: {{ perfil.id }}
                                            </p>

                                        </div>

                                    </div>

                                </td>

                                <!-- NAME -->
                                <td>

                                    {{ perfil.user.first_name }}
                                    {{ perfil.user.last_name }}

                                </td>

                                <!-- EMAIL -->
                                <td>

                                    {{ perfil.user.email }}

                                </td>

                                <!-- ROLE -->
                                <td>

                                    <span class="table-badge inactive-badge">

                                        {{ perfil.get_rol_display }}

                                    </span>

                                </td>

                                <!-- ACTION -->
                                <td>

                                    <form method="POST"
                                          action="{% url 'crear_administrador' %}">

                                        {% csrf_token %}

                                        <input type="hidden"
                                               name="perfil_id"
                                               value="{{ perfil.id }}">

                                        <button type="submit"
                                                class="btn btn-primary btn-sm">

                                            Convertir en Admin

                                        </button>

                                    </form>

                                </td>

                            </tr>

                            {% endif %}

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}